<div class="home-page page">
  <div class="home-page-container content">
    <div class="title-container">
      <h1 class="title">{{"HOME.TITLE" | translate}} {{userName ? userName : "HOME.GUEST" | translate}}!</h1>
      <div class="subtitle">
        <h4>{{"HOME.SUBTITLE" | translate}}</h4>
      </div>
      <button mat-raised-button color="primary" (click)="goToNewTimeline()" class="title-button">{{"HOME.BUTTON" |
        translate}}</button>
    </div>
    <h1>{{"HOME.EXAMPLES" | translate}}</h1>
    <div class="examples-container">
      <drag-scroll>
        <ng-container *ngFor="let tl of timelines">
          <app-timeline-card drag-scroll-item [timeline]=tl></app-timeline-card>
        </ng-container>
      </drag-scroll>
    </div>
    <h1 class="categories-title">{{"HOME.CATEGORIES" | translate}}</h1>
    <div class="categories-container">
      <drag-scroll>
        <ng-container *ngFor="let category of categories; index as i">
          <mat-card drag-scroll-item class="category" (click)="goToCategory(category)">
            <mat-card-title >{{"CATEGORIES.CATEGORIES." + category | translate}}</mat-card-title>
            <img mat-card-lg-image src="assets/{{category}}.svg " alt="{{category}}" class="svg-image">
          </mat-card>
        </ng-container>
      </drag-scroll>
    </div>
  </div>
</div>