<div class="home-page page">
  <div class="home-page-container content">
    <div class="title-container">
      <div class="logo-container">
        <img class="logo-image" src="assets/timeline-logo.png">
        <h1 class="logo-title">Linea de Tiempo</h1>
      </div>
      
      <h2 class="title">{{"HOME.TITLE" | translate}} {{userName ? userName : "HOME.GUEST" | translate}}!</h2>
      <!-- TODO duglas pensá un titulo -->
      <div class="subtitle"><h5>{{"HOME.SUBTITLE" | translate}}</h5></div>
      <button mat-raised-button color="primary" (click)="goToNewTimeline()" class="title-button">{{"HOME.BUTTON" | translate}}</button>
    </div>
    <h1>{{"HOME.EXAMPLES" | translate}}</h1>
    <div class="examples-container">
      <ng-container *ngFor="let tl of timelines">
        <app-timeline-card [timeline]=tl></app-timeline-card>

      </ng-container>
    </div>
  </div>
  <!--"https://www.npmjs.com/package/ngx-color"-->
</div>