
.home-page{
    padding: 2%;
    width: 100%;
    position: absolute;
    min-height: 100%;
}

.home-page-container{
  padding: 2%;
  height: auto;
}

.examples-container{
  display:grid;
  text-align: center;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

.title-container{
  margin: auto;
  width: 43em;
  position: unset;
  text-align: center;
  margin-bottom: 8em;
}

.title{
  font-size: 30px;
}
.logo-container{
  display: flex;
  justify-content: center;
  padding-right: 5em;
  align-items: center;
}

.logo-title{
  font-size: 60px;
}

.title-button{
  font-size: 20px;
  height: 50px;
  margin-top: 20px;
}