<div class="dialog-container">
    <div mat-dialog-content class="dialog-content" [formGroup]="form">
        <h3 class="title">{{data.title}}</h3>
        <mat-form-field appearance="legacy" class="text">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="title" formControlName="title" maxlength="60">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="text">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="text" formControlName="text"> </textarea>
        </mat-form-field>
        <div class="date">
            <mat-form-field appearance="legacy" class="date-field year">
                <mat-label>Year</mat-label>
                <input matInput type="number" [(ngModel)]="date.year" formControlName="year">
                <mat-error *ngIf="form.get('year')!.hasError('required') || form.get('year')!.hasError('min')">Invalid year</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="date-field month">
                <mat-label>Month</mat-label>  
                <input matInput type="number" [(ngModel)]="date.month" formControlName="month">
                <mat-error *ngIf="form.get('month')!.hasError('min') || form.get('month')!.hasError('max')">Invalid month</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="date-field day">
                <mat-label>Day</mat-label>
                <input matInput type="number" [(ngModel)]="date.day" formControlName="day">
                <mat-error *ngIf="form.get('day')!.hasError('min') || form.get('day')!.hasError('max') || form.get('day')!.hasError('invalid')">Invalid day</mat-error>
            </mat-form-field>
            <mat-radio-group aria-label="DC" [(ngModel)]="date.ad" formControlName="ad" class="ad">
                <mat-radio-button [value]=true [checked]="date.ad ? true : false" >AD</mat-radio-button>
                <mat-radio-button [value]=false [checked]="!date.ad" >BC</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div mat-dialog-actions  class="dialog-buttons">
        <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
        <button mat-button color="primary" (click)="submit()" cdkFocusInitial>Save</button>
    </div>
</div>