.dialog-buttons{
    justify-content: end;
}

.text{
    width: 100%;
}

.date {
    display: flex;
}

.number {
    margin-right: 10px;
    width: 20%;
    text-align: right;
}

.ad{
    display: flex;
    align-items: center;
}