<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{(entry.text?.headline || 'TIMELINE.ENTRY.UNKNOWN') | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <mat-label class="description">{{'TIMELINE.ENTRY.DESCRIPTION' | translate}}<br>{{entry.text?.text}}</mat-label>
  </div>
  <div *ngIf="entry.media?.url">
    <mat-label>{{'TIMELINE.ENTRY.MEDIA' | translate}} {{entry.media?.url}}</mat-label>
  </div>
  <div>
    <!-- <mat-label>{{'TIMELINE.ENTRY.DATE' | translate}} {{this.timelineService.dateFormated(entry.date)}}</mat-label> -->
  </div>
  <mat-action-row>
    <button mat-button color="primary" (click)="modifyEntry()">{{'TIMELINE.ENTRY.MODIFY' | translate}}</button>
    <button mat-button color="warn" (click)="deleteEntry()" [disabled]="this.timeline.events.length <= 1">{{'TIMELINE.ENTRY.DELETE' | translate}}</button>
  </mat-action-row>

</mat-expansion-panel>
