<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h5>{{(entry.text?.headline || 'TIMELINE.ENTRY.UNKNOWN') | translate}}</h5>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
  <mat-label class="description" *ngIf="entry.text?.text">{{'TIMELINE.ENTRY.DESCRIPTION' | translate}}<br>{{entry.text!.text}}</mat-label>
  </div>
  <div *ngIf="entry.media?.url">
    <mat-label>{{'TIMELINE.ENTRY.MEDIA' | translate}} {{entry.media!.url}}</mat-label>
  </div>
  <div>
    <!-- <mat-label>{{'TIMELINE.ENTRY.DATE' | translate}} {{this.timelineService.dateFormated(entry.date)}}</mat-label> -->
  </div>
  <mat-action-row>
    <button mat-button color="primary" [disabled]="this.timeline.published" (click)="modifyEntry()">{{'TIMELINE.ENTRY.MODIFY' | translate}}</button>
    <button mat-button color="warn" (click)="deleteEntry()" [disabled]="this.timeline.events.length <= 1 || this.timeline.published">{{'TIMELINE.ENTRY.DELETE' | translate}}</button>
  </mat-action-row>

</mat-expansion-panel>
