.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel{
    width: 96%;
}

mat-form-field{
    padding-right: 10%;
}

.title-input{
    background-color: rgba(0,0,0,.07);
    width: fit-content;
    height: 2em;
    padding-left: 20px;
}

.descripcion{
  word-wrap: break-word;
}
