<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <input matInput value="{{punto.titulo}}" class="title-input">
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field appearance="fill">
    <mat-label>Descripcion</mat-label>
    <textarea matInput placeholder="Descripcion" value="{{punto.texto}}"> </textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Año</mat-label>
    <input matInput type="date">
  </mat-form-field>

  <mat-action-row>
    <button mat-button color="warn" (click)="modificarPunto()">Modificar</button>
    <button mat-button color="primary" (click)="eliminarPunto()">Elimnar</button>
  </mat-action-row>

</mat-expansion-panel>
