.dialog-buttons{
    justify-content: end;
}

.texto{
    width: 100%;
}

.fecha {
    display: flex;
}

.numero {
    margin-right: 10px;
    width: 20%;
    text-align: right;
}

.dc{
    display: flex;
    align-items: center;
}