<ngb-carousel class="container">
    <ng-template ngbSlide class="slide-container">
        <div class="content">
            <h3 class="title">{{timeline.title}}</h3>
            <mat-divider class="divider"></mat-divider>
            <h5 class="subtitle">{{timeline.subtitle||"Subtitle no asignado"}}</h5>
        </div>
    </ng-template>
    <ng-template *ngFor="let entry of orderEntries()" ngbSlide class="slide-container">
        <div class="content">
            <h3 class="title">{{entry.title}}</h3>
            <h6 class="date"> {{dateFormateada(entry.date)}} </h6>
            <mat-divider class="divider"></mat-divider>
            <p>{{entry.text}}</p>
        </div>
    </ng-template>
</ngb-carousel>
<div class="timeline">
    <cdk-virtual-scroll-viewport itemSize=150 class="example-viewport">
        <div class="line-content">
            <div class="vl left"></div>
            <hr class="linehorizontal">
            <div class="vl right"></div>
            <div class="entries">
                <ng-container *ngFor="let entriesByDate of orderEntriesByDate(); index as i">
                    <div class="entry-container">
                        <div class="line-horizontal-container">
                            <hr class="linehorizontal" class="vl middle" >
                        </div>
                        <p class="date-entry">{{entriesByDate.date}}</p>
                        <div *ngFor="let entry of entriesByDate.entries">
                            <mat-card class="entry">{{entry.title}}</mat-card>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>