.categories-page-content{
  padding: 2%;
  height: 97%;
  background-color: white;
  border: 1px solid #DFDFDF ;
}

.categories-page-container{
  display:flex;
  text-align: center;
  justify-content: center;
}
.categories-page-container-content{
  width: 150px;
  border-radius: 20px;
  height: 100px;
  margin: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-page-container-content:hover{
  cursor: pointer;
}

.categories-page-header{
  padding: 2%;
  background-color: #F7F7F7;
  height: 100%;
  width: 100%;
  position: fixed;
}
