<div class="categories-page-header page">
  <div class="categories-page-content content">
    <h2>{{'CATEGORIES.TITLE' | translate}}</h2><!--ACA-->
    <div class="categories-page-container">
      <ng-container *ngFor="let category of categories; index as i">
        
        <mat-card
          class="categories-page-container-content"
          (click)="goToCategory(category)"
          style="background-color: #70929c"
        >
        <mat-card-title>{{"CATEGORIES.CATEGORIES." + category | translate}}</mat-card-title>
        <img src="{{categories_image[i] }} " height="64" alt="{{category}} ">
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
