

.category-content{
  padding: 2%;
  width: 100%;
}

.categories{
  display:grid;
  grid-template-columns: repeat(auto-fit, 320px);
  text-align: center;
}


.category-container{
  padding: 2%;
  min-height: 90%;
  height: auto;
  width: 100%;
  position: absolute;
  display: flex;
}

app-timeline-card{
  width: 300px;
}