<div class="category-header">
  <div class="category-page-content">
    <div ><!--class="category-content"-->
      <h2>{{"CATEGORIES.CATEGORIES." + category | translate}}</h2>
    </div>
    <div class="category-page-container">
      <ng-container *ngFor="let timeline of timelines">
        <mat-card
          class="category-page-container-content"
          (click)="goToTimeline(timeline.id)"
        >
        {{timeline.title}}
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
