.category-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  max-height: fit-content;
  max-width: fit-content;
}


.category-page-content{
  padding: 2%;
  height: 97%;
  min-width: min-content;
  max-width: 100%;
}

.category-page-container{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}


.category-header{
  padding: 2%;
  min-height: 100%;
  height: min-content;
  width: 100%;
  position: absolute;
}

app-timeline-card{
  width: 300px;
}