.category-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  max-height: fit-content;
  max-width: fit-content;
}

.category-content{
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 20px;
  display: flex;
  background-color: #70929c;
}

.category-page-content{
  padding: 2%;
  height: 97%;
  background-color: white;
  border: 1px solid #DFDFDF ;
  min-width: min-content;
  max-width: 100%;
}

.category-page-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.category-page-container-content{
  width: 150px;
  border-radius: 20px;
  height: 100px;
  margin-left: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70929c;
  margin-bottom: 30px;
}

.category-page-container-content:hover{
  cursor: pointer;
}

.category-header{
  padding: 2%;
  height: 97%;
  background-color: #F7F7F7;
  justify-content: center;
}
