<div class="header" id="myHeader">
  <div ><img class="logo-image" src="assets/timeline-logo.png"></div>
    <h2 class="header-title">Linea de Tiempo</h2>
    <div class="categories-page">
      <mat-label class="categories-page-button"
        (click)="goToCategories()"
      >{{'HEADER.CATEGORIES' | translate}}
      </mat-label>
    </div>
    <div class="menu-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        NOMBRE
        <br>
        APELLIDO
        <button mat-menu-item (click)="clickOnStyles()">
          {{'HEADER.MENU.STYLES' | translate}}
        </button>
        <button mat-menu-item (click)="clickOnLanguage()">
          {{'HEADER.MENU.LANGUAGE' | translate}}
        </button>
      </mat-menu></div>
</div>