
.header {
    width: 100%;
    height: 75px;
    background: var(--navbar-color);
    padding: 5px 0px 5px 20px;
    color: var(--font-color);
}

.header-title{
    min-width: fit-content;
    padding-top: 10px;
    padding-left: 5px
}

.home-page{
    padding-top: 10px;
    padding-left: 25px;
    display: flex;
}

.nav-button{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--navbar-button-border);
    background-color: var(--navbar-button-color);
    height: 26px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-button:hover{
    cursor: pointer;
    border: 2px solid var(--navbar-button-hover-border);
    background-color: var(--navbar-button-hover-color);
}


.logo-image{
    height: 70px;
}

.menu-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu-button{
    margin-right: 10px;
    color: var(--font-color);
}

.menu-name{
    min-width: 200px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.login-button{
    padding-right: 10px;
    color: var(--font-color);
}

.login-button:hover{
    cursor: pointer;
}

.search{
    padding-right: 15px;
    font-size: 15px;
}

.example-spacer {
    flex: 1 1 auto;
}

.search-bttn:hover{
    cursor: pointer;
}