<div class="login-page page">
    <div class="login-page-container">
        <mat-card class="login-container">
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h2 class="title">{{"AUTH.LOGIN.TITLE" | translate}}</h2>
                    <mat-error *ngIf="notExist">
                        {{"AUTH.LOGIN.NOTEXIST" | translate}}
                    </mat-error>
                    <mat-error *ngIf="loginInvalid">
                        {{"AUTH.LOGIN.ERROR" | translate}}
                    </mat-error>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="{{'AUTH.LOGIN.PLACEHOLDER.EMAIL' | translate}}" formControlName="email" required>
                        <mat-error>
                            {{"AUTH.LOGIN.INVALID.EMAIL" | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="password" placeholder="{{'AUTH.LOGIN.PLACEHOLDER.PASSWORD' | translate}}"
                            formControlName="password" required>
                        <mat-error>
                            {{"AUTH.LOGIN.INVALID.PASSWORD" | translate}}
                        </mat-error>
                    </mat-form-field>
                    <div class="buttons">
                        <div class="submit-button">
                            <button mat-raised-button color="primary" class="login-button">{{'AUTH.LOGIN.TITLE' | translate}}</button>
                        </div>
                        <div class="no-account">
                            <button mat-button color="primary" class="no-account-button" (click)="goToSignup()">{{'AUTH.LOGIN.SIGNUP' | translate}}</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>