<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'TIMELINE.FIELDS.TEXT.TEXT' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.TEXT.HEADLINE' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.TEXT.TEXT' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>
