.configuration-content{
    padding: 2%;
    height: 100%;

}
.configuration-container{
    padding: 2%;
    height: 100%;
    width: 100%;
    position: absolute;

}

.group, .option, .options{
    padding-left: 2%;
    color:var(--font-color);
}
.place-holder{
    color:var(--font-color) !important;
}

.theme-option{
    padding-right: 2%;
}
.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}