<mat-accordion class="example-headers-align" multi [formGroup]="dateControl" [hideToggle]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="title">{{'TIMELINE.FIELDS.' + title | translate}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.YEAR' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.YEAR' | translate}}" matInput type='number' min='1' [formControlName]="'year'" [required]="name == 'start_date' || era">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.MONTH' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.MONTH' | translate}}" matInput type='number' min='0' max="12" [formControlName]="'month'">

      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.DAY' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.DAY' | translate}}" matInput type='number' min='0' max="31" [formControlName]="'day'">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.HOUR' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.HOUR' | translate}}" matInput type='number' min='0' max="23" [formControlName]="'hour'">
      </mat-form-field>

    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.MINUTE' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.MINUTE' | translate}}" matInput type='number' min='0' max="59" [formControlName]="'minute'">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.SECOND' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.SECOND' | translate}}" matInput type='number' min='0' max="59" [formControlName]="'second'">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.MILISECOND' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.MILISECOND' | translate}}" matInput type='number' min='0' max="999" [formControlName]="'milisecond'">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>{{'TIMELINE.FIELDS.DATE.DISPLAY_DATE' | translate}}</mat-label>
        <input title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.DISPLAY_DATE' | translate}}" matInput [formControlName]="'display_date'">
      </mat-form-field>

    </div>

    <mat-radio-group aria-label="DC" formControlName="ad" class="ad">
      <mat-radio-button title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.BCE' | translate}}" [value]=false >{{'TIMELINE.ENTRY.ENTRYDIALOG.BC' | translate}}</mat-radio-button>
      <mat-radio-button title="{{'TIMELINE.FIELDS.DESCRIPTION.DATE.CE' | translate}}" [value]=true class="ad-bttn">{{'TIMELINE.ENTRY.ENTRYDIALOG.AD' | translate}}</mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
</mat-accordion>