<mat-accordion class="example-headers-align" multi [formGroup]="mediaControl" [hideToggle]="true">
  <div>
    <!-- <div>
      {{'TIMELINE.ENTRY.MEDIA' | translate}}
    </div> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="title">{{'TIMELINE.FIELDS.SLIDE.MEDIA' | translate}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.URL' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.URL' | translate}}" matInput [formControlName]="'url'">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.CAPTION' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.CAPTION' | translate}}" matInput [formControlName]="'caption'">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.CREDIT' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.CREDIT' | translate}}" matInput [formControlName]="'credit'">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.THUMBNAIL' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.THUMBNAIL' | translate}}" matInput [formControlName]="'thumbnail'">
        </mat-form-field>
  
      </div>
      <div>
          <mat-form-field>
            <mat-label>{{'TIMELINE.FIELDS.MEDIA.ALT' | translate}}</mat-label>
            <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.ALT' | translate}}" matInput [formControlName]="'alt'">
          </mat-form-field>
          <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.TITLE' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.TITLE' | translate}}" matInput [formControlName]="'title'">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.LINK' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.LINK' | translate}}" matInput [formControlName]="'link'">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>{{'TIMELINE.FIELDS.MEDIA.LINK_TARGET' | translate}}</mat-label>
          <input title="{{'TIMELINE.FIELDS.DESCRIPTION.MEDIA.LINK_TARGET' | translate}}" matInput [formControlName]="'link_target'">
        </mat-form-field>

      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>