<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Media'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.URL' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.CAPTION' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.CREDIT' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.THUMBNAIL' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.ALT' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.TITLE' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.LINK' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'TIMELINE.FIELDS.MEDIA.LINK_TARGET' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>
