<div class="timeline-container page">
  <div class="timeline-content content">

    <div class="save buttons">
      <button mat-raised-button mat-icon-button color="primary" [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu-content">
        <div class="menu-buttons">
          <a mat-menu-item title="Download JSON" [href]="downloadJsonHref"
            download='{{(timeline.title?.text?.headline || "unknown") + ".json"}}'
            (click)="generateDownloadJsonUri()">{{"TIMELINE.TIMELINEPAGE.EXPORT" | translate}}</a>
          <button mat-menu-item (click)="publish()">{{(timeline.published ?
            "TIMELINE.TIMELINEPAGE.UNPUBLISH" : "TIMELINE.TIMELINEPAGE.PUBLISH") | translate}}</button>
          <button mat-menu-item (click)="copyToClipboard()">{{"TIMELINE.TIMELINEPAGE.EMBEDDED" | translate }}</button>
          <button mat-menu-item>{{"TIMELINE.TIMELINEPAGE.CONFIG" | translate }}</button>
          <button mat-menu-item class="delete-button" (click)="deleteTimeline()">{{"TIMELINE.TIMELINEPAGE.DELETE" |
            translate}}</button>
        </div>
      </mat-menu>
      <button [disabled]="timeline.published" mat-raised-button color="primary" (click)="saveChanges()"
        class="save-button">{{"TIMELINE.TIMELINEPAGE.SAVE" |
        translate}}</button>
        <div class="save-message unsaved" *ngIf="this.unsavedChanges && !timeline.published">
          <mat-icon class="save-icon">close</mat-icon><h5>{{ "TIMELINE.TIMELINEPAGE.UNSAVED" | translate}}</h5>
        </div>
        <div class="save-message saved" *ngIf="!this.unsavedChanges && !timeline.published">
          <mat-icon class="save-icon">check</mat-icon><h5>{{ "TIMELINE.TIMELINEPAGE.SAVED" | translate}}</h5>
        </div>
    </div>
    <h2>{{'TIMELINE.TIMELINEPAGE.TITLE' | translate}} {{ timeline.title && timeline.title.text && timeline.title.text.headline ? timeline.title.text.headline : ""}}</h2>
    <h4>{{'TIMELINE.TIMELINEPAGE.SUBTITLE' | translate}} {{timeline.title && timeline.title.text && timeline.title.text.text ? timeline.title.text.text : ""}}</h4>
    <h5>{{'TIMELINE.TIMELINEPAGE.CATEGORY' | translate}} {{'CATEGORIES.CATEGORIES.' + timeline.category | translate}}
    </h5>
    <div class="title buttons">

      <button [disabled]="timeline.published" mat-raised-button color="primary" class="add-entry-btn"
        (click)="editTimeline()">{{"TIMELINE.TIMELINEPAGE.EDIT" | translate}}</button>

    </div>
    <mat-divider class="divider"></mat-divider>
    <div>

      <h4>{{'TIMELINE.TIMELINEPAGE.ENTRIES' | translate}}</h4>
      <ng-container *ngFor="let entry of timeline.events" class="entry-container">
        <div class="entry-container">
          <app-entry [entry]=entry (delete)="deleteEntry($event)" (modify)="modifyEntry($event)"
            [timeline]="this.timeline">
          </app-entry>
        </div>
      </ng-container>
    </div>
    <div class="entries buttons">
      <button [disabled]="timeline.published" mat-raised-button color="primary" (click)="newEntry()" class="add-entry-btn">{{"TIMELINE.TIMELINEPAGE.ADD"
        | translate}}</button>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div id='timeline-embed' style="width: 90%; height: inherit;background-color: var(--content-background);
  border: 1px solid var(--content-border) ;
  color: var(--font-color);margin-right: 2%;"></div>


</div>