.timeline-container{
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    padding-bottom: 2%;
    position: absolute;
    width: 100%;
    min-height: 90%;
}

.timeline-content{
    width: 45%;
    height: auto;
    padding: 2%;
}

.add-entry-btn{
    margin-right: 2%;
    justify-content: center;
    display: flex;
}

.buttons{
    display: flex;
    margin-right: 2%;
}

.visualization-container {
    margin-left: 2%;
    width: 55%;
    height: max-content;
    margin-right: 2%;
    word-wrap: anywhere;
}

.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}

.mat-expansion-panel{
    --background: #f1f1f1;
}

.divider {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #6a6a6a;
    border: solid 2.5px #6a6a6a;
}
.title, .entries {
    justify-content: flex-end;

    margin-top: 3%;
}

.save{
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
}

.menu-button{
    border-radius: 5px;
    height: 37px;
    margin-right: 10px;
}

.save-button{
    margin-right: 10px;
}

.save-message{
    display: flex;
    margin-top: 8px;
}

.delete-button{
    color: red;
}

.unsaved{
    color: red;
}

.save{
    color: green;
}