.timeline-container{
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    height: max-content;
    padding-bottom: 2%;
    background-color: #F7F7F7;
}

.timeline-content{
    width: 45%;
    background-color: white;
    border: 1px solid #DFDFDF ;
    min-height: max-content;
    padding: 2%;
}

.add-entry-btn{
    margin-right: 2%;
    margin-bottom: 2%;
    justify-content: center;
    display: flex;
}

.buttons{
    justify-content: flex-end;
    display: flex;
    margin-right: 2%;
}

.visualization-container {
    margin-left: 2%;
    width: 55%;
    height: max-content;
    margin-right: 2%;
    word-wrap: anywhere;
    background-color: white;
    border: 1px solid #DFDFDF;
}

.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}