<div class="timeline-container page">
  <div class="timeline-content content">
    <h2>{{timeline.title}}</h2>
    <h4>{{timeline.subtitle }}</h4>
    <h5>{{'CATEGORIES.SUBTITLE' | translate}} {{'CATEGORIES.CATEGORIES.' + timeline.category | translate}}</h5>
    <div>
      <div class="buttons">
        <button mat-raised-button color="primary" class="add-entry-btn" (click)="deleteTimeline()">{{"TIMELINE.TIMELINEPAGE.DELETE" | translate}}</button>
        <button mat-raised-button color="primary" class="add-entry-btn" (click)="editTimeline()">{{"TIMELINE.TIMELINEPAGE.EDIT" | translate}}</button>
        <button mat-raised-button color="primary" class="add-entry-btn" (click)="publish()">{{"TIMELINE.TIMELINEPAGE.PUBLISH" | translate}}</button>
      </div>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="newEntry()"
          class="add-entry-btn">{{"TIMELINE.TIMELINEPAGE.ADD" | translate}}</button>
        <button mat-raised-button color="primary" (click)="saveChanges()"
          class="add-entry-btn">{{"TIMELINE.TIMELINEPAGE.SAVE" | translate}}</button>
      </div>
      <ng-container *ngFor="let entry of timeline.entries" class="entry-container">
        <div class="entry-container">
          <app-entry [entry]=entry (delete)="deleteEntry($event)" (modify)="modifyEntry($event)"
            [timeline]="this.timeline">
          </app-entry>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div id='timeline-embed' style="width: 90%; height: 600px;background-color: var(--content-background);
  border: 1px solid var(--content-border) ;
  color: var(--font-color);margin-right: 2%;"></div>


</div>