.dialog-buttons{
    justify-content: end;
}

.text{
    width: 100%;
}

.date {
    display: flex;
}

.date-field{
    margin-right: 10px;
    text-align: right;
}


.year, .day {   
    width: 20%;
}

.month {
    width: 23%;
}

.ad{
    display: flex;
    align-items: center;
}

.ad-bttn{
    margin-left: 10px;
}

#file{
    display: none;
}

.file-input{
    color: #3f51b5;
}

.file-input:hover{
    cursor: pointer;
}

mat-divider{
    margin-top: 15px;
    border-top-color: black;
    margin-bottom: 10px;
}

.title{
    font-size: 18px;
}

.field{
    margin-bottom: 15px;
}