<div class="dialog-container">
    <div mat-dialog-content class="dialog-content" [formGroup]="form">
        <h3 class="title">{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.' + data.title | translate}}</h3>

        <app-slide-field [title]="'TITLE'" class="field" [parentForm]=form [data]="title" [isTitle]="true"></app-slide-field>
        <div *ngFor="let era of getEras(); let i=index">
            <app-era-field class="field" [parentForm]=form [formIndex]=i [data]="eras![i]"></app-era-field>
        </div>    

        <button mat-button (click)="addEra()" color="primary">{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.ERA' |
            translate}}</button>
        
        <mat-form-field appearance="legacy" class="field">
            <mat-label>{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.CATEGORY' | translate}}</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of this.timelineService.getCategories()" [value]="category">
                    {{"CATEGORIES.CATEGORIES." + category | translate}}</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="legacy" class="field">
            <mat-label>{{'TIMELINE.FIELDS.SCALE.TITLE' | translate}}</mat-label>
            <mat-select formControlName="scale">
                <mat-option *ngFor="let scale of this.timelineService.getScales()" [value]="scale">
                    {{"TIMELINE.FIELDS.SCALE." + scale.toUpperCase()| translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="legacy" class="text">
            <mat-label>{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.TITLE' | translate}}</mat-label>
            <input matInput formControlName="title" maxlength="60">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="text">
            <mat-label>{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.SUBTITLE' | translate}}</mat-label>
            <input matInput formControlName="subtitle" maxlength="60">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="text">
            <mat-label>{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.MEDIA' | translate}}</mat-label>
            <input matInput formControlName="media">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.CATEGORY' | translate}}</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of this.timelineService.getCategories()" [value]="category">
                    {{"CATEGORIES.CATEGORIES." + category | translate}}</mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
    <div *ngIf="data.isTitle">
        <label class="file-input" for="file">{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.IMPORT' |
            translate}}</label>
        <input type="file" id="file" (change)="handleFileInput($event)" accept="application/json">

    </div>
    <div mat-dialog-actions class="dialog-buttons">
        <button mat-button color="warn" (click)="onNoClick()">{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.CANCEL' |
            translate}}</button>
        <button mat-button color="primary" (click)="submit()"
            cdkFocusInitial>{{'TIMELINE.DASHBOARD.DASHBOARDDIALOG.SAVE' | translate}}</button>
    </div>
</div>