.container{
    background-color: #E3E9F2;
    min-height: 400px;
    border: 1px solid #C5D0E3 ;
}

.content{
    padding: 75px 50px 75px 50px;
}

.fecha{
    font-size: small;
}

.divider {
    padding: 10px;
}
