<ngb-carousel class="container">
    <ng-template ngbSlide class="slide-container">
        <div class="content">
            <h3 class="titulo">{{lineaDeTiempo.titulo}}</h3>
            <mat-divider class="divider"></mat-divider>
            <h5 class="subtitulo">{{lineaDeTiempo.subtitulo||"Subtitulo no asignado"}}</h5>
        </div>
    </ng-template>
    <ng-template *ngFor="let punto of puntosOrdenados()" ngbSlide class="slide-container">
        <div class="content">
            <h3 class="titulo">{{punto.titulo}}</h3>
            <h6 class="fecha"> {{fechaFormateada(punto.fecha)}} </h6>
            <mat-divider class="divider"></mat-divider>
            <p>{{punto.texto}}</p>
        </div>
    </ng-template>
</ngb-carousel>
<div class="lineadetiempo">
    <cdk-virtual-scroll-viewport itemSize=150 class="example-viewport">
        <div class="linea-content">
            <div class="vl left"></div>
            <hr class="lineahorizontal">
            <div class="vl right"></div>
            <div class="puntos">
                <ng-container *ngFor="let puntosPorFechas of puntosPorFecha(); index as i">
                    <div class="punto-container">
                        <div class="linea-horizontal-container">
                            <hr class="lineahorizontal" class="vl middle" >
                        </div>
                        <p class="fecha-punto">{{puntosPorFechas.fecha}}</p>
                        <div *ngFor="let punto of puntosPorFechas.puntos">
                            <mat-card class="punto">{{punto.titulo}}</mat-card>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>