<div class="linea-container">
  <div class="linea-content">
    <h2>{{linea.titulo}}</h2>
    <h4>{{linea.subtitulo||"Subtitulo no asignado"}}</h4>
    <h5>Categoria: {{linea.categoria}}</h5>
    <div>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="eliminarLinea()" class="aniadir-punto-btn">Eliminar linea</button>
        <button mat-raised-button color="primary" (click)="editarLinea()" class="aniadir-punto-btn">Editar linea</button>
        <button mat-raised-button color="primary" (click)="nuevoPunto()" class="aniadir-punto-btn">Añardir punto</button>
        <button mat-raised-button color="primary" (click)="guardarCambios()" class="aniadir-punto-btn">Guardar cambios</button>
      </div>
      <ng-container *ngFor="let punto of linea.puntos" class="punto-container">
        <div class="punto-container">
          <app-punto 
          [punto]=punto
          (eliminar)="eliminarPunto($event)"
          (modificar)="modificarPunto($event)"
          >
        </app-punto>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="visualizacion-container">
    <app-visualizacion [linea-de-tiempo]=linea></app-visualizacion>
  </div>
</div>
<div class="linea-container"></div>

