<div class="linea-container">
  <div class="linea-content">
    <h2>{{linea.titulo}}</h2>
    <div>
      <button mat-raised-button color="primary" (click)="openNewDialog()" class="aniadir-punto-btn">Añardir punto</button>
      <button mat-raised-button color="primary" (click)="guardarCambios()" class="aniadir-punto-btn">Guardar cambios</button>
      <ng-container *ngFor="let punto of linea.puntos" class="punto-container">
        <div class="punto-container">
          <app-punto 
          [punto]=punto
          (eliminar)="eliminarPunto($event)"
          (modificar)="modificarPunto($event)"
          >
        </app-punto>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="visualizacion-container">
    hola
  </div>
</div>

